<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>Node File Upload API</title>
</head>
<body>
  <div class="container">
    <h2 style="text-align: center">File Upload API using NodeJS</h2>
    <h4 style="text-align: center" class="pulse">Developed by Raj Kumar <a href="https://www.facebook.com/RAJKUMAR.RZ" target="_blank" class="fab fa-facebook-square" style="color: #3b5998;"></a> <a href="https://www.linkedin.com/in/rajkumarrz/" target="_blank" class="fab fa-linkedin" style="color: #0077B5;"> </a> <a href="https://github.com/RAJKUMARRZ/" target="_blank" class="fab fa-github" style="color: #211f1f;"></a></h4>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn">
          <span>Select Image</span>
          <input name="image" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn">Upload</button>
    </form>
    <br>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
  </div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
  </script> 


</body>
</html>
